:root {
  --azul-profundo: #1E3A8A;
  --azul-claro: #3B82F6;
  --naranja: #F59E0B;
  --verde: #10B981;
  --rojo: #EF4444;
  --gris: #F3F4F6;
  --negro: #111827;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: var(--azul-profundo);
    color: var(--gris);
}

.title-container {
    box-shadow: 0px 2px 5px var(--azul-claro);
    position: relative;
    z-index: 20;
}

.btn-atras {
    color: var(--gris);
    text-decoration: none;
}

main {
    flex: 1;
    background: var(--gris);
}

.btn-container-one .btn {
    font-weight: 600;
    box-shadow: 0px 1px 4px var(--negro);
    width: 100%;
}

.btn-container .btn {
    box-shadow: 0px 1px 4px var(--negro);
    width: 100%;
}

.form-control,
.form-select {
    border-color: rgba(17, 24, 39, 0.5);
}

.form-control:focus,
.form-select:focus {
    border-color: var(--azul-profundo);
    box-shadow: 0 0 0 0.25rem rgba(30, 58, 138, 0.3);
}

.card-report {
    background-color: var(--gris);
    border: 2px solid var(--negro);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 4px var(--negro);
}

.card-report .content {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.card-report .icon-report {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.card-report .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-report .text-content span,
.card-report .text-content p {
    margin: 0;
}