:root {
    --azul-profundo: #1E3A8A;
    --azul-claro: #3B82F6;
    --naranja: #F59E0B;
    --verde: #10B981;
    --rojo: #EF4444;
    --gris: #F3F4F6;
    --negro: #111827;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: var(--azul-profundo);
    color: var(--gris);
}

.title-container {
    box-shadow: 0px 2px 5px var(--azul-claro);
    position: relative;
    z-index: 20;
}

.btn-atras {
    color: var(--gris);
    text-decoration: none;
}

main {
    flex: 1;
    background: var(--gris);
}

.tags-container {
    font-size: 14px;
}

.img-robo {
    box-shadow: 0px 1px 4px var(--negro);
}

.buttons-column,
.tags-column {
    flex: 1;
}

.buttons-column a,
.tags-column div {
    flex: 1;
}

.tags-column div {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}